$base-color-primary:#c0b283;
$base-color-second:#373737;
$base-color-third:#dcd0c0;
$base-color-fourth:#76797d;
$base-color-fifth:#535557;
$base-color-success:#30a64a;
$base-color-info:#25a2b7;
$base-color-warning:#fdc02f;
$base-color-danger:#da3849;
$base-color-default:#6c787b;
$base-color-muted:#95a1a4;
$base-color-inverse:#bbbbbb;
$base-light-color:#f4f4f4;
$base-dark-color:#373737;
$color1-lighten:10%;
$color1-darken:10%;
$background-image:"";
$body-background:#ffffff;
$body-color:#505050;
$global-border-color:#dadada;
$base-border-radius:2px;
$base-content-size:1200px;
$base-content-fluid-size:1980px;
$base-font-family:'Roboto', sans-serif;
$base-font-weight:300;
$global-font-sm:14px;
$base-font-size:16px;
$global-font-lg:20px;
$link-color:#373737;
$link-hover-color:#373737;
$social-media-icon:theme-color;
$base-darkest:#333333;
$base-darker:#444444;
$base-dark:#666666;
$base-gray:#999999;
$base-light:#bbbbbb;
$base-lighter:#cccccc;
$base-lightest:#f5f5f5;
$toolbar-container:fluid;
$toolbar-background:#1d1d1d;
$toolbar-text-color:#ffffff;
$toolbar-link-color:#ffffff;
$toolbar-link-weight:300;
$toolbar-text-weight:300;
$toolbar-font-family:'Source Sans Pro', sans-serif;
$toolbar-link-hover-color:#ffffff;
$toolbar-link-icon-color:#ffffff;
$toolbar-link-icon-hover-color:#ffffff;
$toolbar-btn-bg-color:#373737;
$toolbar-btn-text-color:#ffffff;
$toolbar-btn-bg-hover-color:#1d1d1d;
$toolbar-btn-text-hover-color:#ffffff;
$toolbar-social-link-icon-color:#ffffff;
$toolbar-social-link-icon-hover-color:#ffffff;
$header-container:fluid;
$header-background:#ffffff;
$header-primary-font-family:'Roboto', sans-serif;
$header-background-secondary:#373737;
$header-secondary-font-family:'Roboto', sans-serif;
$header-menu-bg:#ffffff;
$header-menu-font-size:16px;
$header-menu-vertical-padding:20px;
$header-menu-horizontl-padding:16px;
$header-menu-font-weight:400;
$header-menu-color:#373737;
$header-menu-bg-hover:#ffffff;
$header-menu-color-hover:#373737;
$secondary-menu-text-color:#ffffff;
$secondary-menu-bg-hover-color:#1d1d1d;
$secondary-menu-text-hover-color:#ffffff;
$header-sub-menu-font-size:14px;
$header-sub-menu-font-weight:400;
$header-sub-menu-color:#f4f4f4;
$header-sub-menu-hover-color:#ffffff;
$header-sub-menu-text-color:#373737;
$header-sub-menu-text-hover-color:#373737;
$header-text-color:#373737;
$header-menu-transform:none;
$page-title-bg-color:#ffffff;
$page-title-color:#373737;
$page-title-size:44px;
$page-title-family:'IBM Plex Serif', sans-serif;
$page-title-transform:none;
$page-title-weight:700;
$prefooter-container:container;
$prefooter-font-size:14px;
$prefooter-links-size:14px;
$prefooter-background:#f4f4f4;
$prefooter-text:#373737;
$prefooter-title:#373737;
$prefooter-title-transform:uppercase;
$prefooter-menu:#373737;
$prefooter-menu-hover:#373737;
$prefooter-menu-transform:none;
$prefooter-menu-mobile:#373737;
$prefooter-menu-mobile-bg:#f4f4f4;
$prefooter-icon-color:#ffffff;
$prefooter-icon-bg:#373737;
$prefooter-icon-color-hover:#ffffff;
$prefooter-icon-bg-hover:#373737;
$footer-container:container;
$footer-font-size:13px;
$footer-links-size:13px;
$footer-background:#ffffff;
$footer-color:#505050;
$footer-link-color:#505050;
$footer-link-hover-color:#373737;
$button-font-weight:400;
$button-text-transform:none;
$button-vertical-padding:10px;
$button-horizontal-padding:20px;
$button-border-radius:2px;
$btn-font-family:'IBM Plex Serif', sans-serif;
$btn-font-size:14px;
$button-vertical-padding-xs:3px;
$button-horizontal-padding-xs:6px;
$button-border-radius-xs:2px;
$btn-font-size-xs:12px;
$button-vertical-padding-sm:5px;
$button-horizontal-padding-sm:10px;
$button-border-radius-sm:2px;
$btn-font-size-sm:13px;
$button-vertical-padding-md:10px;
$button-horizontal-padding-md:20px;
$button-border-radius-md:2px;
$btn-font-size-md:14px;
$button-vertical-padding-lg:15px;
$button-horizontal-padding-lg:30px;
$button-border-radius-lg:3px;
$btn-font-size-lg:16px;
$button-vertical-padding-xl:20px;
$button-horizontal-padding-xl:40px;
$button-border-radius-xl:4px;
$btn-font-size-xl:18px;
$lead-size:21px;
$lead-weight:300;
$lead-transform:none;
$lead-font:'IBM Plex Serif', sans-serif;
$lead-color:#373737;
$display-size-1:84px;
$display-1-weight:700;
$display1-transform:none;
$display-1-font:'Merriweather', sans-serif;
$display-1-color:#373737;
$display-size-2:72px;
$display-2-weight:900;
$display2-transform:none;
$display-2-font:'Merriweather', sans-serif;
$display-2-color:#373737;
$display-size-3:60px;
$display-3-weight:900;
$display3-transform:none;
$display-3-font:'IBM Plex Serif', sans-serif;
$display-3-color:#373737;
$display-size-4:48px;
$display-4-weight:700;
$display4-transform:none;
$display-4-font:'IBM Plex Serif', sans-serif;
$display-4-color:#373737;
$h1-color:#373737;
$h1-font-size:48px;
$h1-font-weight:700;
$h1-font-family:'Oswald', sans-serif;
$h1-transform:capitalize;
$h2-color:#373737;
$h2-font-size:36px;
$h2-font-weight:700;
$h2-font-family:'IBM Plex Serif', sans-serif;
$h2-transform:none;
$h3-color:#373737;
$h3-font-size:30px;
$h3-font-weight:900;
$h3-font-family:'IBM Plex Serif', sans-serif;
$h3-transform:none;
$h4-color:#373737;
$h4-font-size:24px;
$h4-font-weight:400;
$h4-font-family:'IBM Plex Serif', sans-serif;
$h4-transform:none;
$h5-color:#373737;
$h5-font-size:18px;
$h5-font-weight:500;
$h5-font-family:'Roboto Condensed', sans-serif;
$h5-transform:capitalize;
$h6-color:#373737;
$h6-font-size:16px;
$h6-font-weight:600;
$h6-font-family:'Roboto', sans-serif;
$h6-transform:none;
$icon-xs:10px;
$icon-sm:18px;
$icon-md:28px;
$icon-lg:36px;
$icon-xl:48px;
$text-xs:12px;
$text-sm:13px;
$text-md:18px;
$text-lg:20px;
$text-xl:48px;
$margin-xs:5px;
$margin-sm:10px;
$margin-md:20px;
$margin-lg:40px;
$margin-xl:60px;
$padding-xs:5px;
$padding-sm:10px;
$padding-md:20px;
$padding-lg:40px;
$padding-xl:80px;
$sidebar-title-color:#ffffff;
$sidebar-title-bg-color:#373737;
$sidebar-title-font-size:16px;
$sidebar-title-font-weight:600;
$sidebar-title-text-transform:none;
$sidebar-level1-color:#373737;
$sidebar-level1-hover-color:#373737;
$sidebar-level1-active-color:#373737;
$sidebar-level1-bg-color:#f4f4f4;
$sidebar-level1-hover-bg-color:#ffffff;
$sidebar-level1-active-bg-color:#ffffff;
$sidebar-level1-border-color:#f4f4f4;
$sidebar-level1-caret-color:#373737;
$sidebar-level1-caret-hover-color:#373737;
$sidebar-level1-caret-active-color:#373737;
$sidebar-level1-font-size:14px;
$sidebar-level1-font-weight:600;
$sidebar-level1-text-transform:none;
$sidebar-level2-color:#373737;
$sidebar-level2-hover-color:#373737;
$sidebar-level2-active-color:#373737;
$sidebar-level2-bg-color:#ffffff;
$sidebar-level2-hover-bg-color:#ffffff;
$sidebar-level2-active-bg-color:#ffffff;
$sidebar-level2-caret-color:#373737;
$sidebar-level2-caret-hover-color:#373737;
$sidebar-level2-caret-active-color:#373737;
$sidebar-level2-font-size:14px;
$sidebar-level2-font-weight:400;
$sidebar-level2-text-transform:none;
$sidebar-level3-color:#373737;
$sidebar-level3-hover-color:#373737;
$sidebar-level3-active-color:#373737;
$sidebar-level3-bg-color:#ffffff;
$sidebar-level3-hover-bg-color:#ffffff;
$sidebar-level3-active-bg-color:#ffffff;
$sidebar-level3-caret-color:#373737;
$sidebar-level3-caret-hover-color:#373737;
$sidebar-level3-caret-active-color:#373737;
$sidebar-level3-font-size:14px;
$sidebar-level3-font-weight:400;
$sidebar-level3-text-transform:none;
$sidebar-level4-color:#373737;
$sidebar-level4-hover-color:#373737;
$sidebar-level4-active-color:#373737;
$sidebar-level4-bg-color:#ffffff;
$sidebar-level4-hover-bg-color:#ffffff;
$sidebar-level4-active-bg-color:#ffffff;
$sidebar-level4-caret-color:#373737;
$sidebar-level4-caret-hover-color:#373737;
$sidebar-level4-caret-active-color:#373737;
$sidebar-level4-font-size:13px;
$sidebar-level4-font-weight:400;
$sidebar-level4-text-transform:none;
$product-list-toolbar-color:#535557;
$product-list-toolbar-size:#000000;
$product-list-toolbar-weight:#000000;
$product-list-toolbar-font:'Open Sans', sans-serif;
$product-list-container:#ffffff;
$product-list-label-news-color:#ffffff;
$product-list-label-news-background:#373737;
$product-list-label-sale-color:#ffffff;
$product-list-label-sale-background:#373737;
$product-list-btn-primary:#ffffff;
$product-list-btn-primary-bg:#373737;
$product-list-btn-primary-hover:#ffffff;
$product-list-btn-secondary:#ffffff;
$product-list-btn-secondary-bg:#373737;
$product-list-btn-secondary-hover:#ffffff;
$product-list-more-options:#373737;
$product-list-price-color:#373737;
$product-list-price-size:22px;
$product-list-price-weight:600;
$product-list-price-transform:uppercase;
$product-list-rate:#fdc02f;
$product-list-title-color:#1d1d1d;
$product-list-title-size:16px;
$product-list-title-weight:600;
$product-list-title-transform:capitalize;
$product-list-brand-color:#505050;
$product-list-brand-size:12px;
$product-list-brand-weight:400;
$product-list-brand-transform:capitalize;
$product-list-additional-info-color:#505050;
$product-list-additional-info-size:12px;
$product-list-additional-info-weight:400;
$product-list-additional-info-transform:none;
$product-list-shipping-color:#1d1d1d;
$product-list-shipping-size:14px;
$product-list-shipping-weight:600;
$product-list-shipping-transform:capitalize;
$product-list-stock-availability-color:#da3849;
$product-list-stock-availability-size:14px;
$product-list-stock-availability-weight:400;
$product-list-stock-availability-transform:none;
$product-list-discount-color:#30a64a;
$product-list-discount-size:12px;
$product-list-discount-weight:700;
$product-list-discount-transform:none;
$product-list-description-color:#373737;
