/*===================== Grid =======================*/
$container-min-width:				  	$base-content-size;

/*===================== Primary Colors =============*/
$base-primary-color:                  	$base-color-primary;
$base-secondary-color:                	$base-color-second;
$base-success-color:                  	$base-color-success;
$base-info-color:                     	$base-color-info;
$base-warning-color:                  	$base-color-warning;
$base-danger-color:                   	$base-color-danger;

/*===================== Secondary Colors ============*/
$base-third-color:                   	$base-color-third;
$base-fourth-color:                   	$base-color-fourth;
$base-fifth-color:                   	$base-color-fifth;
$base-sixth-color:                   	#7848df;

/*===================== Gray Color ==================*/
$gray-color:						  	#2a2a2a;

/*===================== Navbar =====================*/
$navbar-bg:                           	$header-background;
$navbar-items-color:                  	$header-menu-color;
$navbar-items-color-hover:            	$header-menu-color-hover;
$navbar-items-bg:                 		$header-menu-bg;
$navbar-items-bg-hover:            		$header-menu-bg-hover;

/*===================== Toolbar ====================*/
$toolbar-bg:                          	$toolbar-background;
$toolbar-link-color:                  	$toolbar-link-color;
$toolbar-text-color:					$toolbar-text-color;

/*===================== Prefooter =================*/
$prefooter-bg: 						  	$prefooter-background;
$prefooter-title-color:				  	$prefooter-title;
$prefooter-title-size:				  	1rem;

/*===================== Typography ================*/
$h1-font-size:							pxToRem($h1-font-size);
$h2-font-size:							pxToRem($h2-font-size);
$h3-font-size:							pxToRem($h3-font-size);
$h4-font-size:							pxToRem($h4-font-size);
$h5-font-size:							pxToRem($h5-font-size);
$h6-font-size:							pxToRem($h6-font-size);

$display1-size:							6rem;
$display2-size:							5.5rem;
$display3-size:							4.5rem;
$display4-size: 						3.5rem;
